@font-face {
  font-family: "iconfont"; /* Project id 3486062 */
  src: url('iconfont.woff2?t=1656431510317') format('woff2'),
       url('iconfont.woff?t=1656431510317') format('woff'),
       url('iconfont.ttf?t=1656431510317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiugai:before {
  content: "\e8cf";
}

.icon-assignPermissions-o:before {
  content: "\e72d";
}

.icon-edit:before {
  content: "\e603";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-fenpeijiaose:before {
  content: "\e602";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-dingdanguanli:before {
  content: "\e61d";
}

.icon-shujutongji:before {
  content: "\e65a";
}

.icon-zhanghaoquanxianguanli:before {
  content: "\eb68";
}

.icon-goods:before {
  content: "\e612";
}

.icon-yonghuguanli:before {
  content: "\e656";
}

.icon-username:before {
  content: "\e73f";
}

.icon-password:before {
  content: "\e606";
}

